/*.footer {
    bottom: 0;
    height: auto;
    background-color: #4a5853;
}
.footer {
    position: fixed;
    height: 100px;
    bottom: 0;
    width: 100%;
}*/
.footer{
align-content: center;
 /*height:40px;*/
 margin-top:-40px;
 
}
#img-carrousel {
    height: 450px;
}

.space {
    margin-bottom: 5%;
}

#container {
    display: block;
    position:relative
}
.ui-autocomplete {
    position: absolute;
}